* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

#app_container {
  padding: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

 h1 {
  padding: 10px;
  color: dodgerblue;
  text-align: center;
}

.userBucketContainer {
  
  border: 1px dotted dodgerblue;
}

.bucketsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
}

.Bucket_Button {
  padding: 10px;
}

li {
  list-style-type: none;
}